h1{
  text-align:center;
  color: #2e7547;
}

h2{background: linear-gradient(transparent 80%, #2e7547 90%);
}

h3{background: linear-gradient(transparent 80%, #3b945a 90%);
}

h4{background: linear-gradient(transparent 80%, #64d18a 90%);
}

.iframe-parent {
   position: relative;
   height: 0;
   overflow: hidden;
   padding-top: 56.25%;
}
.iframe-parent iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}